<section class="phx-hero">
<h1><%= @done_state %></h1>

  <form phx-submit="download">
    <input type="text" name="song_url" value="<%= @song_url %>" placeholder="anghami url"/>
    <button type="submit" phx-disable-with="In Progress...">Download</button>
  </form>
</section>
